.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

#about-section {
  padding: 4rem;
  margin: auto;
  background-color: #222020;
  display: flex;
  gap: 50px;
}

.skills{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  gap: 10px;
}

.skills li {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius: 4px;
}

.skills li figure img {
  max-width: 30px;
  min-height: 30px;
}

#tools ul li:hover {
  color: #3b82f6;
  transform: scale(1.05);
  box-shadow: 5px 2px 2px 2px #3b82f6;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  #tools ul {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 992px) {
  #tools ul {
    grid-template-columns: auto auto auto;
  }
}