.navBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f1e1e;
  padding: 1rem 2rem;
  z-index: 1000;
  border-bottom: 1px solid #2c2c2c;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b82f6;
  cursor: pointer;
}

.navElement {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
}

.navElement a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navElement a:hover {
  color: #64edff;
}


@media (max-width: 760px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background: #3b82f6;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    padding-right: 10px;
  }
  .nav-links.open {
    display: flex;
  }
}

@media (min-width: 769px) {
  .hamburger-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}


