.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #222020;
  padding: 1rem 2rem;
  border-bottom: 1px solid #2c2c2c;
  box-sizing: border-box;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navElement {
  list-style: none;
  display: inline-block;
  padding: 10px 40px;
}

.navElement:hover { 
  background-color: #3b82f6;
  border-radius: 0.5rem;
  font-weight: bolder;
}

.navElement a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

/*
.navElement a:hover {
  color: #64edff;
}
  */

.navElement a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}


.navElement a:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    /*
    background: #3b82f6;
    border-radius: 10px;
    */
    gap: 1rem;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navElement {
    width: 100%;
  }

  .navElement a {
    display: block;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .hamburger-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}