.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#project-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auo-fit, minmax(300px, 1fr));
    gap: 20px;
}

.projectElement figure {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: black;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.img{
  max-width:600px;
}

.projectElement:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
    #project-grid {
        grid-template-columns: 1fr 1fr;
    }
}

