:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: stretch;
  max-width: none;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #38bdf8;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

